* {
  box-sizing: border-box;
}

body {
  font-family: "Open Sans",
  sans-serif; 
  font-size: 20px;
  color: #444;
  text-align: center;
  line-height: 1.5;
}

nav,
footer {
  padding: 1% 0;
  background-color: #aaa;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  text-align: center;
}

.ingredientSearch {
  font-size: 40px;
}

ul {
  list-style-type: none;
  margin: 0;
  overflow: hidden;
  background-color: #aaa;
}

dashboardlist ul {
  list-style-type: none;
  margin: 0;
  padding-left: 25%;
  padding-right: 25%;
  overflow: hidden;
  background-color: #aaa;
}

.navList li {
  display: inline;
}

@media only screen and (max-width: 640px) {
  .navList li {
    font-size: 15px;
  }

}

@media only screen and (max-width: 1025px) {
.submit, .goback, .clear, .moreinfo {
  border: white solid 2px;
}
}

li a {
  display:inline-block;
  color: white;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}


header {
  padding: 5% 0;
  padding-bottom: 0%

}

section {
  min-height: 200px;
  padding: 2% 0;
  padding-bottom: 6;
  background-color: #bbb;
}



section:nth-child(even) {
  background-color: #ddd;
}

.section {
  max-width: 600px;
  margin: 0 auto;
}


.top {
  margin-top: 100px;
}

.goback {
  height:40px;
  width:200px;
  font-size: 20px;
}

.clear {
  height:30px;
  width:100px;
  font-size: 12px;
  margin-bottom: 30px;
}
